@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
  background-color: rgb(234, 241, 255);
}

a.menulinks {
  background-image: linear-gradient(to right, #ffffff, #ffffff 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
  font-size: 120%;
}

a.menulinks:before {
  content: "";
  background: #ffffff;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a.menulinks:hover {
  background-position: 0;
}

a.menulinks:hover::before {
  width: 100%;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Overpass", sans-serif;
  background-color: #84afff;
  height: 10vh;
  z-index: 1;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}
.nav-list.active {
  transform: translate(0);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.catioro{
  background-image:url(dogmaluco.jpg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}

.msg{
  font-family: "Open Sans", sans-serif;
  color: #fff;
  padding-left: 6%;
  width: 45%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-left: 10%;
  margin-bottom: 10%;
  word-spacing: normal;
  padding-top: 10%;
  font-size: 300%;
}

@media (max-width: 1366px) {
  .msg {
    font-family: "Open Sans", sans-serif;
    color: rgb(255, 255, 255);
    padding-left: 6%;
    width: 30%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    text-align: justify;
    margin-left: 10%;
    margin-bottom: 10%;
    word-spacing: normal;
    padding-top: 10%;
    font-size: 180%;
  }
}

.maintext{
  font-size: 200%;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  font-family: "Overpass", sans-serif;

}

.circulos{
  display: inline-block;
  width: 100%;
 
}

#icons{
margin:0%;
}

.maluco{
  display: inline-block;
  font-family: "Overpass", sans-serif; 
  margin: 5%;
}

a.maluco{
  text-decoration: none;
  font-size: 180%;
  color: black;
}

.rodape{
  width: 100%;
  height: 20%;
  background-color:#6b9cf7;
  display: flex;
  color: #fff;
}

#links{
  color:#fff;
  padding-left: 5%;
  width: 30%;
  height: auto;
  font-size: 130%;
  margin: 8px;
  margin-left: 30px;
  text-align: justify;
  margin-top:2%;
  text-decoration: none;
}

#logo{
  padding-top: 2%;
  margin-left: 30%;
  margin-right: 3%;
  float: right;
  align-items: center;
}

.linkrodape{
  text-decoration: none;
  color: #fff;
}

#icons:hover{
  transform: scale(1.02);
}
 -- Card Start -- >:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fef8f8;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  height: 100%;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: rgb(255, 255, 255);
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: .8em;
  color: rgb(255, 255, 255);
}

.card__status1 {
  font-size: .8em;
  color: rgb(21, 255, 0);
}

.card__status {
  font-size: .8em;
  color: rgb(255, 0, 0);
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: rgb(255, 255, 255);
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

#mexirica {
  color: #F2A71B !important;
  margin-left: 33% !important;
}

#botao {
  float: right !important;
  width: 180px !important;
  height: 50px;
  margin-right: 44% !important;
}

.botao {
  color: #fff;
  background-color: #F2A71B;
  border-color: #F2A71B;
}

 -- Card End -- >svg {
  overflow: hidden;
  vertical-align: middle;
}

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}



.formzao {
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #726659;
  
  border: solid 1px #b3aca7;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  
  border: solid 1px #b3aca7;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

#submit {
  width: 94%;
  
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
}

#container{
  width: 80%;
  height: auto;
  background: white;
  border-radius: 15px;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

#imagemcont{

  padding-top: 10px;
  padding-left: 10px;
  width: 410px;
  height: 310px;
}
#textcont{
  float: right;
  font-family: 'Arima', cursive;
  width: 60%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

element.style {
  height: 450px;
}
.pl-5, .px-5 {
  padding-left: 3rem !important;
}
.pr-5, .px-5 {
  padding-right: 3rem !important;
}
.justify-content-center {
  justify-content: center !important;
}
.flex-column {
  flex-direction: column !important;
}
.d-flex {
  display: flex !important;
}
.bg-light {
  background-color: #ECF4FF !important;
}

.mb-5, .my-5 {
  margin-bottom: 3rem !important;
}

.align-items-center {
  align-items: center !important;
}
.d-flex {
  display: flex !important;
}

align-items-center {
  align-items: center !important;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.maintext2{
  font-size: 160%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: "Overpass", sans-serif;
}

.mt-n1{
  font-size: 150%;
}